/docker/mysql/data/
/source/plugins/hello.php
/source/plugins/index.php
/source/plugins/dominant-color-images/
/source/plugins/auto-sizes/
/source/plugins/performant-translations/
/source/plugins/speculation-rules/
/source/plugins/webp-uploads/
/source/plugins/akismet/
/source/plugins/elementor/
/source/plugins/query-monitor/
/source/plugins/header-footer-elementor/
/source/plugins/performance-lab/
/source/plugins/automatorwp/
/source/plugins/wordpress-seo/
/source/plugins/svg-support/
/source/themes/index.php
/source/themes/hello*
/source/themes/twenty*
/vendor/
/node_modules/
.env